/* @override 
	http://localhost:3000/stylesheets/jeopardy.css?1316922117
	http://localhost:4001/stylesheets/jeopardy.css?1317054418
	http://localhost:4001/stylesheets/jeopardy.css?1317055475
	http://localhost:4001/stylesheets/jeopardy.css?1317056330
*/

.clear {
	clear:  both;
}

body {
	padding: 0;
	margin: 0;
}
.board {
	border-top: 10px solid #965e3e;
	padding: 10px;
	background-color: #dbac84;
}
.wrap {
	background-color: black;
	margin-bottom: 10px;
}
.categories {
	margin-bottom: 10px;
}
.categories .category .title, .question .points {
	height: 100px;
	background: #062197;
	margin: 10px;
	color: white;
}
.category {
	float:  left;
	width: 20%;
	vertical-align: middle;
	text-align: center;
	font-family: 'Holtwood One SC', serif;
	font-size: 28;
}

.question .points {
	font-family: 'Holtwood One SC', serif;
	font-size: 48px;
	line-height: 100px;
	color: gold;
	cursor: pointer;
}
.question .points p {
	margin: 0;
}
.question .text {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
	position: absolute;
	background-color: white;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
}
.question .text .centered_box {
	width: 500px;
	height: 500px;
	left: 50%;
	position: fixed;
	margin-left: -250px;
	margin-top: -250px;
	top: 50%;
}

.teams.three .team {
	width: 33%;
	float: left;

}
.teams .team .points {
	text-align: right;
	font-family: 'Kelly Slab', cursive;
	font-size: 48px;
	font-weight: bold;
	color: white;
	background-color: #252525;
	margin: 20px;
	padding: 2px 20px;
}
.teams .team .name {
	font-family: 'Rock Salt', cursive;
	font-size: 24px;
	text-align: center;
	margin: 20px;
}